{
  "env": {
    "node": true,
    "es6": true
  },
  "extends": [
    "eslint-config-airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "globals": {},
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": ["prettier", "@typescript-eslint"],
  "rules": {
    "prettier/prettier": "error",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "global-require": "off",
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "no-unused-expressions": [
      "error",
      {
        "allowTernary": true,
        "allowShortCircuit": true,
        "allowTaggedTemplates": true
      }
    ],
    "spaced-comment": ["error", "always", { "markers": ["/"] }],
    "import/extensions": [
      "error",
      "never",
      {
        "json": "always",
        "less": "always"
      }
    ],
    "import/no-unresolved": "off",
    "import/no-dynamic-require": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "no-shadow": "off",
    "no-console": "off",
    "no-nested-ternary": "off",
    "no-underscore-dangle": "off",
    "no-restricted-syntax": "off",
    "no-use-before-define": "off",
    "linebreak-style": ["error", "unix"],
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/no-triple-slash-reference": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": true,
        "argsIgnorePattern": "^_"
      }
    ]
  }
}
